# CARSKIT_ MOVIE DATASET
[https://github.com/harishaaram/CARSKit/tree/master/context-aware_data_sets]

In [2]:
import numpy as np
import pandas as pd

### Reading dataset:

In [22]:
# colname = ['user_id','item_id','rating','Time','Location','Companion']
df = pd.read_csv('Movie_DePaulMovie/ratings.txt', sep=',')

In [21]:
df.head()

   userid     itemid  rating Time Location Companion
0    1123  tt1499658       2  NaN      NaN       NaN
1    1123  tt0405422       4  NaN      NaN       NaN
2    1123  tt0109830       5  NaN      NaN       NaN
3    1123  tt0088763       3  NaN      NaN       NaN
4    1123  tt0133093       3  NaN      NaN       NaN

In [23]:
# Total no.of users
users = df.userid.unique().shape[0]
items = df.itemid.unique().shape[0]
print "total no. of users, movies:"+ str(users)+","+str(items)

total no. of users, movies:97,79

## Creating DataFrames:

In [25]:
#total no. of rows
df.shape[0]

5043

### Droping empty values
[https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html]

In [32]:
df_nonEmpty = df.dropna()
df_nonEmpty.shape[0]

3595

In [33]:
df_nonEmpty.head()

     userid     itemid  rating     Time Location Companion
148    1003  tt0454876       1  Weekday   Cinema     Alone
149    1003  tt0120912       1  Weekday   Cinema     Alone
150    1003  tt3793764       1  Weekday   Cinema     Alone
151    1003  tt0114148       1  Weekday   Cinema     Alone
152    1003  tt0110357       1  Weekday   Cinema     Alone

### Dropping columns:

In [37]:
# dropping of the last 3 columns
# df.dropna(axis=1, how='any')
df_colDel = df.drop(df.columns[[3 ,4, 5]], axis=1)  # df.columns is zero-based pd.Index

In [ ]:
## Modeling:

In [ ]:
train, test = cv.train_test_split(df_colDel, test_size = 0.25)