# Movie Recommendation System

### Source: [http://files.grouplens.org/datasets/movielens/ml-100k/]

Collected by Grouplens

In [1]:
import pandas as pd

### Reading Data into Dataframe

_________________________________________

### Users data:

In [2]:
u_colname = ['user_id','movie_id','rating','unix_timestamp']
df_user = pd.read_csv('ml-100k/u.user', sep='|', names = u_colname, encoding='latin-1')

In [3]:
df_user.head()
# df_user.shape

   user_id movie_id      rating unix_timestamp
1       24        M  technician          85711
2       53        F       other          94043
3       23        M      writer          32067
4       24        M  technician          43537
5       33        F       other          15213

### Ratings data:

In [4]:
rating_colname = ['user_id','movie_id','rating','unix_timestamp']
df_ratings = pd.read_csv('ml-100k/u.data', sep='\t', names = rating_colname, encoding='latin-1')

In [5]:
df_ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

### Items data:

In [6]:
item_colname = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
df_items = pd.read_csv('ml-100k/u.item', sep='|', names = item_colname, encoding='latin-1')

In [7]:
df_items.head()
#df_items.shape

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
df_items[[1]]

                                            movie title
0                                      Toy Story (1995)
1                                      GoldenEye (1995)
2                                     Four Rooms (1995)
3                                     Get Shorty (1995)
4                                        Copycat (1995)
5     Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6                                 Twelve Monkeys (1995)
7                                           Babe (1995)
8                               Dead Man Walking (1995)
9                                    Richard III (1995)
10                                 Seven (Se7en) (1995)
11                           Usual Suspects, The (1995)
12                              Mighty Aphrodite (1995)
13                                   Postino, Il (1994)
14                            Mr. Holland's Opus (1995)
15                   French Twist (Gazon maudit) (1995)
16                           From Dusk Till Dawn (1996)
17                            White Balloon, The (1995)
18                                Antonia's Line (1995)
19                            Angels and Insects (1995)
20                        Muppet Treasure Island (1996)
21                                    Braveheart (1995)
22                                   Taxi Driver (1976)
23                           Rumble in the Bronx (1995)
24                                 Birdcage, The (1996)
25                        Brothers McMullen, The (1995)
26                                      Bad Boys (1995)
27                                     Apollo 13 (1995)
28                                Batman Forever (1995)
29                                 Belle de jour (1967)
...                                                 ...
1652  Entertaining Angels: The Dorothy Day Story (1996)
1653                       Chairman of the Board (1998)
1654                                  Favor, The (1994)
1655                                 Little City (1998)
1656                                      Target (1995)
1657                      Substance of Fire, The (1996)
1658                    Getting Away With Murder (1996)
1659                                 Small Faces (1995)
1660                                New Age, The (1994)
1661                                 Rough Magic (1995)
1662                            Nothing Personal (1995)
1663                     8 Heads in a Duffel Bag (1997)
1664                           Brother's Kiss, A (1997)
1665                                        Ripe (1996)
1666                              Next Step, The (1995)
1667                          Wedding Bell Blues (1996)
1668                           MURDER and murder (1996)
1669                                     Tainted (1998)
1670                          Further Gesture, A (1996)
1671                                        Kika (1993)
1672                                      Mirage (1995)
1673                                  Mamma Roma (1962)
1674                              Sunchaser, The (1996)
1675                            War at Home, The (1996)
1676                               Sweet Nothing (1995)
1677                                  Mat' i syn (1997)
1678                                   B. Monkey (1998)
1679                               Sliding Doors (1998)
1680                                You So Crazy (1994)
1681          Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 1 columns]

### Test-Train data:

The data sets ua.base, ua.test, ub.base, and ub.test split the u data into a training set and a test set with exactly 10 ratings per user in the test set.  The sets ua.test and ub.test are disjoint.

In [9]:
rating_colname = ['user_id','movie_id','rating','unix_timestamp']
train = pd.read_csv('ml-100k/ua.base', sep='\t', names = rating_colname, encoding='latin-1')
test = pd.read_csv('ml-100k/ua.test', sep='\t', names = rating_colname, encoding='latin-1')
train.shape, test.shape

((90570, 4), (9430, 4))

In [14]:
import graphlab as gl

In [15]:
# #checking
# url = 'https://static.turi.com/datasets/millionsong/song_data.csv'
# songs = gl.SFrame.read_csv(url)
# songs.show()

Finished parsing file https://static.turi.com/datasets/millionsong/song_data.csv

Parsing completed. Parsed 100 lines in 1.75723 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 637410 lines. Lines per second: 372662

Finished parsing file https://static.turi.com/datasets/millionsong/song_data.csv

Parsing completed. Parsed 1000000 lines in 2.10358 secs.

Canvas is accessible via web browser at the URL: http://localhost:39536/index.html
Opening Canvas in default web browser.