# Movie Recommendation System

### Source: [http://files.grouplens.org/datasets/movielens/ml-100k/]

Collected by Grouplens

In [1]:
import pandas as pd

### Reading Data into Dataframe

_________________________________________

### Users data:

In [2]:
u_colname = ['user_id','age','sex','occupation', 'zip_code']
df_user = pd.read_csv('ml-100k/u.user', sep='|', names = u_colname, encoding='latin-1')

In [3]:
df_user.head()
# df_user.shape

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

### Ratings data:

In [4]:
rating_colname = ['user_id','movie_id','rating','unix_timestamp']
df_ratings = pd.read_csv('ml-100k/u.data', sep='\t', names = rating_colname, encoding='latin-1')

In [5]:
df_ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

### Items data:

In [6]:
item_colname = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
df_items = pd.read_csv('ml-100k/u.item', sep='|', names = item_colname, encoding='latin-1')

In [7]:
df_items.head()
#df_items.shape

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
df_items[[1]]

                                            movie title
0                                      Toy Story (1995)
1                                      GoldenEye (1995)
2                                     Four Rooms (1995)
3                                     Get Shorty (1995)
4                                        Copycat (1995)
5     Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6                                 Twelve Monkeys (1995)
7                                           Babe (1995)
8                               Dead Man Walking (1995)
9                                    Richard III (1995)
10                                 Seven (Se7en) (1995)
11                           Usual Suspects, The (1995)
12                              Mighty Aphrodite (1995)
13                                   Postino, Il (1994)
14                            Mr. Holland's Opus (1995)
15                   French Twist (Gazon maudit) (1995)
16                           From Dusk Till Dawn (1996)
17                            White Balloon, The (1995)
18                                Antonia's Line (1995)
19                            Angels and Insects (1995)
20                        Muppet Treasure Island (1996)
21                                    Braveheart (1995)
22                                   Taxi Driver (1976)
23                           Rumble in the Bronx (1995)
24                                 Birdcage, The (1996)
25                        Brothers McMullen, The (1995)
26                                      Bad Boys (1995)
27                                     Apollo 13 (1995)
28                                Batman Forever (1995)
29                                 Belle de jour (1967)
...                                                 ...
1652  Entertaining Angels: The Dorothy Day Story (1996)
1653                       Chairman of the Board (1998)
1654                                  Favor, The (1994)
1655                                 Little City (1998)
1656                                      Target (1995)
1657                      Substance of Fire, The (1996)
1658                    Getting Away With Murder (1996)
1659                                 Small Faces (1995)
1660                                New Age, The (1994)
1661                                 Rough Magic (1995)
1662                            Nothing Personal (1995)
1663                     8 Heads in a Duffel Bag (1997)
1664                           Brother's Kiss, A (1997)
1665                                        Ripe (1996)
1666                              Next Step, The (1995)
1667                          Wedding Bell Blues (1996)
1668                           MURDER and murder (1996)
1669                                     Tainted (1998)
1670                          Further Gesture, A (1996)
1671                                        Kika (1993)
1672                                      Mirage (1995)
1673                                  Mamma Roma (1962)
1674                              Sunchaser, The (1996)
1675                            War at Home, The (1996)
1676                               Sweet Nothing (1995)
1677                                  Mat' i syn (1997)
1678                                   B. Monkey (1998)
1679                               Sliding Doors (1998)
1680                                You So Crazy (1994)
1681          Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 1 columns]

## Test-Train data:

The data sets ua.base, ua.test, ub.base, and ub.test split the u data into a training set and a test set with exactly 10 ratings per user in the test set.  The sets ua.test and ub.test are disjoint.

In [9]:
rating_colname = ['user_id','movie_id','rating','unix_timestamp']
train = pd.read_csv('ml-100k/ua.base', sep='\t', names = rating_colname, encoding='latin-1')
test = pd.read_csv('ml-100k/ua.test', sep='\t', names = rating_colname, encoding='latin-1')
train.shape, test.shape

((90570, 4), (9430, 4))

In [10]:
import graphlab as gl

In [11]:
# #checking
# url = 'https://static.turi.com/datasets/millionsong/song_data.csv'
# songs = gl.SFrame.read_csv(url)
# songs.show()

In [12]:
SF_train = gl.SFrame(train)
SF_test = gl. SFrame(test)

This non-commercial license of GraphLab Create for academic use is assigned to hramachandran@hawk.iit.edu and will expire on June 26, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1499867316.log

## MODEL1:
All users have same recommendation

In [13]:
popularity_model = gl.popularity_recommender.create(SF_train, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.11355s

90570 observations to process; with 1680 unique items.

### Top 5 Recommendations:

In [14]:
popularity_recomm = popularity_model.recommend(users= range(1,6),k=5)
popularity_recomm.print_rows(num_rows=25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

#### Note: The recommendation for all the users is same. Let's cross verify with movies with highest mean recommendations

In [15]:
df_ratings.groupby(by = 'movie_id')['rating'].mean().sort_values(ascending = False).head(20)

movie_id
1293    5.000000
1467    5.000000
1653    5.000000
814     5.000000
1122    5.000000
1599    5.000000
1201    5.000000
1189    5.000000
1500    5.000000
1536    5.000000
1449    4.625000
1642    4.500000
119     4.500000
1398    4.500000
1594    4.500000
408     4.491071
318     4.466443
169     4.466102
483     4.456790
114     4.447761
Name: rating, dtype: float64

#### checking: match of top ten with the above 10 ratings full of 5 scores

In [16]:
popularity_recomm_10 = popularity_model.recommend(k=10)
popularity_recomm_10.print_rows(num_rows=25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1536   |  5.0  |  1   |
|    1    |   1656   |  5.0  |  2   |
|    1    |   1500   |  5.0  |  3   |
|    1    |   1293   |  5.0  |  4   |
|    1    |   1599   |  5.0  |  5   |
|    1    |   1467   |  5.0  |  6   |
|    1    |   1201   |  5.0  |  7   |
|    1    |   1189   |  5.0  |  8   |
|    1    |   1122   |  5.0  |  9   |
|    1    |   814    |  5.0  |  10  |
|    2    |   1536   |  5.0  |  1   |
|    2    |   1656   |  5.0  |  2   |
|    2    |   1500   |  5.0  |  3   |
|    2    |   1293   |  5.0  |  4   |
|    2    |   1599   |  5.0  |  5   |
|    2    |   1467   |  5.0  |  6   |
|    2    |   1201   |  5.0  |  7   |
|    2    |   1189   |  5.0  |  8   |
|    2    |   1122   |  5.0  |  9   |
|    2    |   814    |  5.0  |  10  |
|    3    |   1536   |  5.0  |  1   |
|    3    |   1656   |  5.0  |  2   |
|    3    |   1500   |  5.0  |  3   |
|    3    |   1293   |  5.0  |  4   |
|    3    |   1599   |  5.0  |  5   |
+---------+----------+-------+------+
[9430 rows x 4 columns]

#### Hence confirmed

## MODEL2: Colllaborative Filtering Model

#### Train model: using pearson similarity

In [17]:
itemSimilarity_model = gl.item_similarity_recommender.create(SF_train, user_id='user_id', item_id='movie_id', target='rating', similarity_type='pearson')

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.135398s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 19.739ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 24.853ms                            | 0.25             | 6               |

| 349.476ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.36459s

In [18]:
itemSimilarity_recomm = itemSimilarity_model.recommend(users=range(1,6),k=5)
itemSimilarity_recomm.print_rows(num_rows=25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

## Evaluation Metrics:

In [19]:
model_performance = gl.compare(SF_test, [popularity_model, itemSimilarity_model])
gl.show_comparison(model_performance, [popularity_model, itemSimilarity_model])

PROGRESS: Evaluate model M0

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |        0.0        |        0.0        |
|   2    |        0.0        |        0.0        |
|   3    | 0.000353481795688 | 0.000106044538706 |
|   4    | 0.000265111346766 | 0.000106044538706 |
|   5    | 0.000424178154825 | 0.000212089077413 |
|   6    | 0.000353481795688 | 0.000212089077413 |
|   7    | 0.000302984396304 | 0.000212089077413 |
|   8    | 0.000265111346766 | 0.000212089077413 |
|   9    | 0.000235654530458 | 0.000212089077413 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

PROGRESS: Evaluate model M1

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |        0.0        |        0.0        |
|   2    |        0.0        |        0.0        |
|   3    |        0.0        |        0.0        |
|   4    |        0.0        |        0.0        |
|   5    |        0.0        |        0.0        |
|   6    | 0.000176740897844 | 0.000106044538706 |
|   7    | 0.000302984396304 | 0.000212089077413 |
|   8    | 0.000265111346766 | 0.000212089077413 |
|   9    | 0.000235654530458 | 0.000212089077413 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

Model compare metric: precision_recall
Canvas is accessible via web browser at the URL: http://localhost:41209/index.html
Opening Canvas in default web browser.