# CARSKIT_ MOVIE DATASET
[https://github.com/harishaaram/CARSKit/tree/master/context-aware_data_sets]

In [1]:
import numpy as np
import pandas as pd

from sklearn import cross_validation as cv
import recommenders
import evaluation

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Reading dataset:

In [2]:
# colname = ['user_id','item_id','rating','Time','Location','Companion']
df = pd.read_csv('Movie_DePaulMovie/ratings.txt', sep=',')

In [3]:
df.head()

   userid     itemid  rating Time Location Companion
0    1123  tt1499658       2  NaN      NaN       NaN
1    1123  tt0405422       4  NaN      NaN       NaN
2    1123  tt0109830       5  NaN      NaN       NaN
3    1123  tt0088763       3  NaN      NaN       NaN
4    1123  tt0133093       3  NaN      NaN       NaN

In [4]:
# Total no.of users
users = df.userid.unique().shape[0]
items = df.itemid.unique().shape[0]
print "total no. of users, movies:"+ str(users)+","+str(items)

total no. of users, movies:97,79

## Creating DataFrames:

In [5]:
#total no. of rows
df.shape[0]

5043

### Droping empty values
[https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html]

In [6]:
df_nonEmpty = df.dropna()
df_nonEmpty.shape[0]

3595

In [7]:
df_nonEmpty.head()

     userid     itemid  rating     Time Location Companion
148    1003  tt0454876       1  Weekday   Cinema     Alone
149    1003  tt0120912       1  Weekday   Cinema     Alone
150    1003  tt3793764       1  Weekday   Cinema     Alone
151    1003  tt0114148       1  Weekday   Cinema     Alone
152    1003  tt0110357       1  Weekday   Cinema     Alone

### Dropping columns:

In [8]:
# dropping of the last 3 columns
# df.dropna(axis=1, how='any')
df_colDel = df.drop(df.columns[[3 ,4, 5]], axis=1)  # df.columns is zero-based pd.Index 
df_colDel.head()

   userid     itemid  rating
0    1123  tt1499658       2
1    1123  tt0405422       4
2    1123  tt0109830       5
3    1123  tt0088763       3
4    1123  tt0133093       3

## Modeling: Item similarity collaborative filtering

In [9]:
train, test = cv.train_test_split(df_colDel, test_size = 0.25)

In [10]:
is_model = recommenders.item_similarity_recommender_py()
is_model.create(train, 'userid', 'itemid')

#### Personalized movie recommendation:

In [11]:
users = df.userid.unique()

In [12]:
#Print the movies for the user in training data
user_id = users[5]
user_items = is_model.get_user_items(user_id)

print("Training data moviesID for the user userid: %s:" % user_id)

for user_item in user_items:
    print(user_item)

print("Recommendation process output:")

#Recommend movies for the user using personalized model
is_model.recommend(user_id)

Training data moviesID for the user userid: 1021:
tt1099212
tt0120338
tt0114148
tt0110475
tt0088763
tt0289879
Recommendation process output:
No. of unique movies for the user: 6
no. of unique movies in the training set: 79
Non zero values in cooccurence_matrix :446

   user_id      movie     score  rank
0   1021.0  tt3793764  0.230420   1.0
1   1021.0  tt0109830  0.228173   2.0
2   1021.0  tt0110357  0.219329   3.0
3   1021.0  tt1375666  0.215793   4.0
4   1021.0  tt0133093  0.215429   5.0
5   1021.0  tt0111161  0.205877   6.0
6   1021.0  tt0382625  0.204304   7.0
7   1021.0  tt0993846  0.195905   8.0
8   1021.0  tt0266543  0.193906   9.0
9   1021.0  tt3510098  0.192839  10.0