# Building a neutral net for coolaborative filtering

In [1]:
import numpy as np
import pandas as pd

from sklearn import cross_validation as cv

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
#Data 
# colname = ['user_id','item_id','rating','Time','Location','Companion']
import graphlab as gl
df = gl.SFrame.read_csv('Movie_DePaulMovie/ratings.txt', sep=',')

Finished parsing file /home/harish/PycharmProjects/Recommender_System/movieLens/RecSys_DeepLearning/Movie_DePaulMovie/ratings.txt

Parsing completed. Parsed 100 lines in 0.031594 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,int,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/harish/PycharmProjects/Recommender_System/movieLens/RecSys_DeepLearning/Movie_DePaulMovie/ratings.txt

Parsing completed. Parsed 5043 lines in 0.014546 secs.

In [10]:
df.tail()

Columns:
	userid	int
	itemid	str
	rating	int
	Time	str
	Location	str
	Companion	str

Rows: 10

Data:
+--------+-----------+--------+---------+----------+-----------+
| userid |   itemid  | rating |   Time  | Location | Companion |
+--------+-----------+--------+---------+----------+-----------+
|  1082  | tt1637706 |   2    | Weekday |   Home   |  Partner  |
|  1082  | tt0343660 |   2    | Weekday |   Home   |  Partner  |
|  1082  | tt1133985 |   1    | Weekday |   Home   |  Partner  |
|  1082  | tt1099212 |   1    | Weekday |   Home   |  Partner  |
|  1082  | tt3793764 |   1    | Weekend |   Home   |  Partner  |
|  1082  | tt0413267 |   1    | Weekend |   Home   |  Partner  |
|  1082  | tt1637706 |   2    | Weekend |   Home   |  Partner  |
|  1082  | tt0343660 |   1    | Weekend |   Home   |  Partner  |
|  1082  | tt1133985 |   1    | Weekend |   Home   |  Partner  |
|  1082  | tt1099212 |   1    | Weekend |   Home   |  Partner  |
+--------+-----------+--------+---------+----------+-----------+
[10 rows x 6 columns]

In [12]:
df.column_types()#note object(in case of pandas df) data types are not convertible when using SFrame datastructure[https://forum.turi.com/discussion/1925/]

[int, str, int, str, str, str]

In [ ]:
# df.userid.astype('str')
# df.dtypes

In [ ]:
df['itemid']=df['itemid'].astype(str)
df['itemid'].dtypes
df.dtypes

In [ ]:
#train test split:
train, test = cv.train_test_split(df, test_size = 0.25)

In [5]:
#modeling

This non-commercial license of GraphLab Create for academic use is assigned to hramachandran@hawk.iit.edu and will expire on June 26, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1500688499.log

Finished parsing file /home/harish/PycharmProjects/Recommender_System/movieLens/RecSys_DeepLearning/Movie_DePaulMovie/ratings.txt

Parsing completed. Parsed 100 lines in 0.018961 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,int,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/harish/PycharmProjects/Recommender_System/movieLens/RecSys_DeepLearning/Movie_DePaulMovie/ratings.txt

Parsing completed. Parsed 5043 lines in 0.012518 secs.

In [7]:
SF_train = gl.SFrame(train)
# SF_test = gl. SFrame(test)

In [8]:
SF_train.head()

Columns:
	userid	int
	itemid	str
	rating	int
	Time	str
	Location	str
	Companion	str

Rows: 10

Data:
+--------+-----------+--------+------+----------+-----------+
| userid |   itemid  | rating | Time | Location | Companion |
+--------+-----------+--------+------+----------+-----------+
|  1123  | tt1499658 |   2    | None |   None   |    None   |
|  1123  | tt0405422 |   4    | None |   None   |    None   |
|  1123  | tt0109830 |   5    | None |   None   |    None   |
|  1123  | tt0088763 |   3    | None |   None   |    None   |
|  1123  | tt0133093 |   3    | None |   None   |    None   |
|  1090  | tt0800369 |   3    | None |   None   |    None   |
|  1090  | tt0407304 |   2    | None |   None   |    None   |
|  1090  | tt0266543 |   4    | None |   None   |    None   |
|  1090  | tt1632708 |   4    | None |   None   |    None   |
|  1090  | tt4052394 |   3    | None |   None   |    None   |
+--------+-----------+--------+------+----------+-----------+
[10 rows x 6 columns]