# Implementing Flexible Fixture Model

In [2]:
import pandas as pd

In [6]:
user_colname = ['Age', 'Gender', 'Occupation']
df_user = pd.read_csv('/home/harish/PycharmProjects/Recommender_System/FMM/movie_data/users.dat',names = user_colname, sep = '\t')

In [8]:
df.head()

   24   M   technician
0  53   F        other
1  23   M       writer
2  24   M   technician
3  33   F        other
4  42   M    executive